<section id="about-us">
  <div class="container">
    <h2 class="section-title">O Nama</h2>
    <p class="section-text">
      Pekarnica “Štanfelj” je kao mali obrt krenula s radom još 1982. godine. Sve do danas, s velikim trudom te na profesionalnoj razini, svojim kupcima nudimo visokokvalitetne pekarske proizvode. Proizvodnju kruha prati naš tradicionalni, i naravno, jedinstveni način pripreme i obrade tijesta, kojim bi se mogli pohvaliti i među puno većim pekarskim poduzećima . Kao pekarima s dugogodišnjim iskustvom, uvjereni smo kako je kvaliteta naših pekarskih proizvoda na visokoj razini. Kupnja naših proizvoda uključuje i besplatnu svakodnevnu dostavu. Kada mi mislimo na dostavu , mislimo na dostavu kruha ravno iz peći do vašeg doma, bez ikakve naknade! Na kraju, najvažnije i najbitnije nam je zadovoljstvo kupaca, jer nam se bez toga sav uložen trud čini uzaludnim.    </p>
    <p class="section-text">
      Radno vrijeme: <br><br>
      Ponedjeljak: 07 – 16:30<br>
      Utorak: 07 – 16:30<br>
      Srijeda: 07 – 16:30<br>
      Četvrtak: 07 – 16:30<br>
      Petak: 07 – 16:30<br>
      Subota: 07 – 16:30<br>
      Nedjelja: 07 – 16:30<br><br>
      Blagdanima i praznicima NE radimo!    </p>
  </div>
</section>

