<div class="register">
  <h2>Registracija</h2>

  <form (submit)="onRegister(); $event.preventDefault()">
    <div class="div-input">
      <label for="username">Korisničko ime:</label>
      <input
        type="text"
        id="username"
        name="username"
      [(ngModel)]="username"
      placeholder="Unesite korisničko ime"
      />
      <p *ngIf="errorMessageUsername" class="error">{{ errorMessageUsername }}</p>

    </div>

    <div class="div-input">
      <label for="password">Lozinka:</label>
      <input
        type="password"
        id="password"
        name="password"
      [(ngModel)]="password"
      placeholder="Unesite lozinku"
      />
    </div>

    <div class="div-input">
      <label for="confirmPassword">Lozinka (ponovno):</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
      [(ngModel)]="confirmPassword"
      placeholder="Ponovno unesite lozinku"
      />
      <p *ngIf="errorMessagePassword" class="error">{{ errorMessagePassword }}</p>
    </div>

    <div class="div-input">
      <label for="name">Ime:</label>
      <input
        type="text"
        id="name"
        name="name"
      [(ngModel)]="name"
      placeholder="Unesite ime"
      />
    </div>

    <div class="div-input">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
      [(ngModel)]="email"
      placeholder="Unesite email"
      />
      <p *ngIf="errorMessageEmail" class="error">{{ errorMessageEmail }}</p>
    </div>

    <button type="submit">Registriraj se</button>
  </form>


  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>

  <p class="login-button">
    Već imate račun? <a (click)="goToLogin()">Prijavite se</a>
  </p>
</div>

