<div class="orders">
  <h1 *ngIf="isAdmin; else customerOrders">Sve narudžbe</h1>
  <ng-template #customerOrders><h1>Vaše narudžbe</h1></ng-template>

  <div *ngIf="loading" class="loading-message">Učitavanje...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <ul *ngIf="!loading && !error && orders['length'] > 0" class="orders-container">
    <li *ngFor="let order of orders" class="order-card">
      <p><strong>Narudžba ID:</strong> {{ order._id }}</p>
      <p><strong>Ukupno:</strong> {{ order.totalAmount }} EUR</p>
      <p><strong>Status:</strong> <span class="order-status">{{ order.status }}</span></p>
      <button (click)="cancelOrder(order._id)" class="cancel-button">Otkaži narudžbu</button>
    </li>
  </ul>

  <p *ngIf="!loading && !error && orders['length'] === 0" class="no-orders-message">Nema narudžbi za prikaz.</p>
</div>
