
  <main class="main-content">
    <section class="intro">
      <h2>Dobrodošli u Pekarnicu Štanfelj!</h2>
      <p>Svježi proizvodi svaki dan, samo za vas.</p>
      <button class="cta-button" (click)="goToProducts()">Pogledajte naše proizvode</button>
    </section>

    <section class="features">
      <div class="feature">
        <h3>Svježe Pečeno</h3>
        <p>Naši proizvodi su uvijek svježi i ukusni.</p>
      </div>
      <div class="feature">
        <h3>Kvaliteta</h3>
        <p>Koristimo samo najbolje sastojke za naše proizvode.</p>
      </div>
      <div class="feature">
        <h3>Brza Dostava</h3>
        <p>Brzo dostavljamo sve naše proizvode na vaša vrata.</p>
      </div>
    </section>
  </main>

