<div class="container mt-4">
  <h2 class="text-center">Košarica</h2>

  <div *ngIf="cartItems['length'] === 0" class="alert alert-info text-center">
    Vaša košarica je prazna.
  </div>

  <div *ngIf="cartItems['length'] > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Proizvod</th>
        <th>Količina</th>
        <th>Cijena</th>
        <th>Ukupno</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.name }}</td>
        <td>
          <button class="btn btn-secondary btn-sm" (click)="decreaseQuantity(item)">-</button>
          {{ item.quantity }}
          <button class="btn btn-secondary btn-sm" (click)="increaseQuantity(item)">+</button>
        </td>
        <td>{{ item.price | currency: 'EUR' : 'symbol' }}</td>
        <td>{{ item.price * item.quantity | currency: 'EUR' : 'symbol' }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="removeFromCart(item)">Ukloni</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-end mt-3">
      <h4>Ukupno: {{ totalAmount | currency: 'HRK' : 'symbol' }}</h4>
      <button class="btn btn-danger" (click)="clearCart()">Isprazni košaricu</button>
    </div>
  </div>

  <div class="update-form mt-5">
    <h4>Podatci za dostavu:</h4>
    <form>
      <label for="name">Ime</label>
      <input id="name" [(ngModel)]="user.name" name="name" type="text" required />

      <label for="email">Email</label>
      <input id="email" [(ngModel)]="user.email" name="email" type="email" required />

      <label for="place">Mjesto</label>
      <input id="place" [(ngModel)]="user.place" name="place" type="text" />

      <label for="postalCode">Poštanski broj</label>
      <input id="postalCode" [(ngModel)]="user.postalCode" name="postalCode" type="text" />

      <label for="street">Adresa</label>
      <input id="street" [(ngModel)]="user.street" name="street" type="text" />

      <label for="phone">Mobitel/Telefon</label>
      <input id="phone" [(ngModel)]="user.phone" name="phone" type="text" />
    </form>

    <div *ngIf="successMessage" class="alert alert-success mt-3">
      <p>{{ successMessage }}</p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      <p>{{ errorMessage }}</p>
    </div>

    <button class="btn btn-primary mt-3" (click)="makePurchase()">Napravi narudžbu</button>
  </div>
</div>

