

<div class="home-container">
  <header class="header">
    <div class="logo">
      <h1>Pekarnica Štanfelj</h1>
    </div>
    <nav class="nav">
      <a routerLink="/home">Početna</a>
      <a routerLink="/products">Proizvodi</a>
      <a routerLink="/info">O nama</a>
      <div class="dropdown">
        <a routerLink="/profile" class="dropdown-toggle">Profil</a>
        <div class="dropdown-menu">
          <a routerLink="/profile">Moj profil</a>
          <a *ngIf="currentUser && currentUser.role === 'admin'" routerLink="/administrator">Administrator</a>
          <a *ngIf="currentUser && currentUser.role === 'admin'" routerLink="/orders">Sve narudžbe</a>
          <a *ngIf="currentUser && currentUser.role === 'admin'" routerLink="/users">Svi korisnici</a>

          <a *ngIf="currentUser && currentUser.role === 'customer'" routerLink="/orders">Moje narudžbe</a>
          <a *ngIf="!currentUserId" routerLink="/login">Prijava</a>
          <a *ngIf="currentUserId" (click)="logout()">Odjava</a>
        </div>
      </div>



      <div class="cart-container">
        <button class="cart-button" (click)="toggleCartMenu()">
          <mat-icon [matBadge]="cartItemCount" class="cart-icon">shopping_cart</mat-icon>
        </button>
        <div class="cart-menu" *ngIf="cartMenuVisible">
          <h4>Košarica</h4>
          <hr>
          
          <p *ngIf="cartItemCount === 0" class="empty-cart">Vaša košarica je prazna.</p>
        
          <ul *ngIf="cartItemCount > 0" class="cart-list">
            <li *ngFor="let item of cartItems; let i = index" class="cart-item">
              <span>{{ item.name }} (x{{ item.quantity }}) - {{ item.price | currency:'EUR' }}</span>
              <div class="item-actions">
                <button (click)="decreaseQuantity(item.productId)">-</button>
                <button (click)="increaseQuantity(item.productId)">+</button>
                <button (click)="removeFromCart(item.productId)">x</button>
              </div>
            </li>
          </ul>
          <hr>
          <div class="total">
            <strong>Ukupno:</strong> {{ totalAmount | currency:'EUR' }}
          </div>
          <div class="cart-actions">
            <button routerLink="/cart">Pregledaj košaricu</button>
          </div>
        </div>
      </div>


    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer">
    <p>&copy; 2025 Pekarnica Štanfelj | Sva prava pridržana</p>
  </footer>
</div>
