body{
  margin: 0;
  padding: 0;
  background-color:cornsilk;
  width: 100%;

}

.logo{
  position: relative;
  max-width: 100%;
  max-height: 99%;
  top: -15%;
  min-width: 10%;
  min-height: 80%;
  float:left;
  z-index: 1;
  vertical-align:middle;
  overflow: hidden;

}

header{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 130px;
  background-color: #E3DAC9;
  position:relative;
  overflow: hidden;

 
}
nav{
  border-collapse: collapse;
  max-width: 100% - 1px;
  max-height: 55px;
  background-color:#222426;
  position:sticky;
  position: -webkit-sticky;
  border: 0px solid;
  border: 0px solid rgb(53, 45, 36) ;
  z-index: 100;
  top: 0;
  clear: both;
  
}
footer{
  clear: both;
  float: left;

}

.dno{
  width: 100%;
  height:60px;
  /*background-color:rgb(63, 55, 45);*/
  background-color:#222426;
  position:relative;
  top: 95%;
  padding-top: 1%;
  
}
main{
  flex-grow: 1;
}
.tekstdna1{
  line-height: 10px;
  vertical-align: middle;
  color: beige;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;

  text-align: center;
 
}

.tekstdna2{
  line-height: 10px;
  vertical-align: middle;
  color: beige;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  top: 5%;
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  right: 50px;
  top: 0;
}

li{
  display:block;
  margin: 0;
  padding: 0;
  min-width:fit-content;
 
 
}

li .prvi {
position: relative;
display:inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-transform: uppercase;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-left: 2%;
padding-right: 2%;
margin-right: 9%;
text-decoration: none;
height: 100%;

}

li .drugi {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 3%;
  padding-right: 3%;
  text-decoration: none;
  height: 100%;
 
}


.aa{
  min-width: 100px;
  height: 100%;
  position: relative;
  float: left;
}

li a:hover {
  background-color: #c3baaa;
  color:black;
 }


.prvi{
 
  float: left;
  position: relative;

}

.drugi{
  
  float: right;
  position: relative;
  right: 60px;
}

#homepicture{
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  height:45px;
  width:54px;
  border: 0;
  float: left;
}

.cijeli{
  position: relative;
  z-index: 1;
  top: 0;
  clear: both;
  margin: 0 auto;
  position: 0;
  overflow: hidden;

}

.cijeli .polica {
  max-height: 100%;
  min-height: 100vh;
  padding-top: 2%;
  width:80%;
  max-width: 100%;
  content: '';
  position:relative;
  inset: 0;
  background-position:center;
  background-attachment: fixed;
  z-index: 100;
  margin: 0 auto;
  position: 0;


}
.preko{
  height: 100%;
  min-height: 100vh;
  padding-top: 2%;
  width:100%;
  max-width: 100%;
  content: '';
  position:absolute;
  background-color:#333;
  opacity: 0.5;
  z-index: 111;
  margin: 0 auto;
  position: 0;
  z-index: 1;
}
.preko2{
  height: 100%;
  min-height: 100vh;
  padding-top: 2%;
  width:100%;
  max-width: 90%;
  content: '';
  position:absolute;
  background-color:#333;
  opacity: 0.7;
  margin: 0 auto;
  position: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  z-index: 2;
 
}
.cijeli::after{
  z-index: 1;
  position: absolute;
  content: '';
  opacity: 0.2;
  background-color: pink;
  background-image:url(PICTURES/onamapozadina.jpg);
  width: 100%;
  vertical-align:middle;
  height: 100%;
  top: 0;
  background-attachment: fixed;
  margin: 0 auto;
  z-index: -2;
}

.naslovna{

  display:inline;
  position: absolute;
  float:right;
  right: 1px;
  z-index: 1;
  height:auto;
  width:auto;
  align-self: auto;
  padding-left: 90%;
  padding-right: auto;
  top: 0;
  float: right;
  max-width: 100%;
 
}
.slikan{
  display:block;
  position:relative;
  height:auto;
  width: auto;

}

br{
  z-index: 1;
}
.slogan{
  top:33%;
  max-width: 50%;
  max-height: 100%;
  position: relative;
  float: left;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 0;
  font-size:30px;
  font-family: 'Times New Roman', Times, serif;
  font-style:italic;
  overflow: hidden;
  text-align: center;

}

#boldano{
  background-color: #c3baaa;
  color: black;
  max-height: 100%;
  font-size: medium;
}

.polica h1{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  z-index: 101;
  font-weight: 900;
  z-index: 150;
}
.polica p{
  top: 6%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:black;
  font-size:19px;
  line-height: 40px;
  word-spacing: 7px;
  margin: 0 auto;
  font-weight: bolder;
  z-index: 150;
  height: auto;
}

.polica h2{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  z-index: 101;
  font-weight: 900;
  left: 15%;
  z-index: 150;
  top: 5%;
}

.forma1{
  display: inline-block;
  width: 30%;
  position: relative;
  height: auto;
}
.forma2{
  display: inline-block;
  width: 30%;
  position: relative;
  height: auto;
}
.forma3{
  display: block;
  width: 30%;
  position: relative;
  height: auto;
}

.forma2 input{
  position: relative;
  height: 30px;
  width: 80%;
  margin-bottom: 50px;
  padding-top: 3px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}

.forma1 input{
  position: relative;
  height: 30px;
  width: 80%;
  margin-bottom: 50px;
  padding-top: 3px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}
.forma3 input{
  position: relative;
  height: 30px;
  width: 181%;
  margin-bottom: 50px;
  padding-top: 3px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}

.prezime{
  position: relative;
  left: 330px; 
  top: 0;
}
input:focus{
  outline:none;
}

.forma4{
  position: relative;
}
.forma4 textarea{
  font-size:medium;
  font-family:'Times New Roman', Times, serif;
  width: 54.5%;
  padding-top: 3px;
  border: 0px;
  border-radius: 5px;
  padding-left: 5px;
}

.forma4 textarea:focus{
  outline:none;
}
.polica button{
  position: relative;
  top: 10px;
  background-color:#222426;
  color: #fff; 
  border-radius: 5px; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 

}
.kontaktporuka{
  position: relative;
  background-color:#c3baaa;
  padding: 15px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:600;
  font-size:medium;
}
.dekoracija{
  position: relative;
  background-color:#c3baaa;
  padding: 15px;
  height: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:600;
  font-size:medium;
}

.kontakt{
  position: relative;
  background-color:#c3baaa;
  padding: 15px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:600;
  font-size:medium;
}
.gumb1:hover{
  background-color:#666565;

}
.pekar{ 
  background-color: #E3DAC9;
  display: inline-block;
  position: absolute;
  height: 86.5%;
  width: 36%;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0.8;
}
.pekar img{
  width: 100%;
  height: 100%;
}
.imejmbag{
  color: antiquewhite;
  position: absolute;
  right: 4%;
  bottom: 0;
  font-size: small;
}
.kontakt a{
  background-color: #666565;
  font-size: smaller;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  background-color:#666565;
  color: antiquewhite;
  height: auto;
  width: auto;
  padding: 0.5%;
  border-radius: 4px;
}
.kontakt a:hover{
  background-color:#fff;
  color: black;
}
